<ion-view title="Pagar">
    <div class="bar bar-header bar-light">
        <button class="button button-clear button-positive ion-android-arrow-back" ng-click="back()" style="font-size: 25px;"></button>
        <h1 class="title">Pagar</h1>
    </div>

    <div class="bar bar-subheader box" style="height: 210px; ">
        <h2 class="title box-title" style="font-size: medium;">Saldo Actual de puntos {{saldoActualPuntos | number}} <span style="font-size: small;">Intercoins<span/></h2>
        <div class="row">
            <div class="col">
                <div class="" style="border-radius: 20px; margin-top: 30px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
                    <div class="item" style="border: none;">
                        <div class="row">
                            <div class="col" >
                                <p style="font-size: small; font-weight: 500;">Intercoins</p>
                            </div>
                            <div class="col">
                                    <div class="row " style="padding: 0px;">
                                        <div class="col col-50 col-center" style="padding: 0px; text-align: center;">
                                            <input  ng-model="inter" name="inter" type="number" ng-keyup="calcularEquivalente()" style="border-bottom: 1px solid #0D47A1; width: 80%; height: 10%; padding: 0px;">
                                        </div>
                                        <div class="col col-50" style="padding: 0px; text-align: right;">
                                        <p style="font-size: smaller; font-weight: 500;">S/ {{equivalente}}</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ">
                                <p style="font-size: small; font-weight: 500;">Soles</p>
                            </div>
                            <div class="col" style="text-align: center;padding-right: 5px;">
                                <p style="font-size: small; font-weight: 500;">S/ {{total}}</p>
                            </div>
                            <div class="col">
                                <p style="font-size: small; font-weight: 500;">Total</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p style="font-size: small; font-weight: 500;">S/ {{monto}}</p>
                            </div>
                        </div>              
                    </div>
                    <a style="border-bottom: none; border-left: none;border-right: none;" class="item positive text-center" ng-click="confirmPay()">Pagar</span></a>
    </div>
    </div>
    </div>
    </div>

    <ion-content class="has-header has-subheader">
        <!--
        <div class="list card">
            <div class="item">
                <div class="row">
                    <div class="col">
                        <p style="font-size: medium; font-weight: 500;">Inter Coins</p>
                    </div>
                    <div class="col">
                        <div class="row " style="padding: 0px;">
                            <div class="col col-50 col-center" style="padding: 0px; text-align: center;">
                                <input name="inter" type="number" ng-keypress="calcularEquivalente()" style="border-bottom: 1px solid #0D47A1; width: 80%; height: 10%; padding: 0px;"
                                    ng-model="inter">
                            </div>
                            <div class="col col-50" style="padding: 0px; text-align: right;">
                                <p style="font-size: medium; font-weight: 500;">S/. {{equivalente}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        <p style="font-size: medium; font-weight: 500;">Soles</p>
                    </div>
                    <div class="col col-35" style="text-align: right;">
                        <p style="font-size: medium; font-weight: 500;">{{monto}}</p>
                    </div>
                </div>

            </div>
            <a class="item positive text-center" ng-click="payVisa()">Pagar <span style="font-weight: 700;"> S/. {{total}} </span></a>
        </div>-->

        <ul class="list" style="margin-top: 166px;">
            <div class="item item-divider text-center">
                Detalle Compra
            </div>
            <li class="item row" ng-repeat="item in listProducts">
                <div class="col">
                    {{item.name}}
                </div>
                <div class="col col-33 text-right" style="padding:0px;">
                    <div class="button-bar">
                        <button ng-click="add(item)" style="margin: 0px; padding: 0px;" class="button button-positive button-clear button-block button-small icon ion-plus"></button>
                        <button style="margin: 0px; padding: 0px;" class="button button-positive button-clear button-block button-small ">{{item.qty}}</button>
                        <button ng-click="rem(item)" style="margin: 0px; padding: 0px;" class="button button-positive button-clear button-block button-small icon ion-minus"></button>
                    </div>

                </div>
            </li>
        </ul>

    </ion-content>
</ion-view>